* {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #eee;
}
#wrapper {
  width: 540px;
}
.card {
  display: inline-block;
  margin-right: 20px;
  margin-bottom: 20px;
  width: 70px;
  height: 100px;
  perspective: 140px;
}
.card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}
.card.flipped .card-inner {
  transform: rotateY(180deg);
}
.card-front {
  background: navy;
}
.card-front,
.card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  border: 3px solid #000;
  backface-visibility: hidden;
}
.card-back {
  transform: rotateY(180deg);
}
